<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Muta Jonathan</author>
	<description>
			${project.parent.description}
	</description>

	<activator>${MODULE_PACKAGE}.BasicModuleActivator</activator>
	
	<require_version>${openMRSVersion}</require_version>

    <require_modules>
        <require_module>org.openmrs.module.datafilter</require_module>
    </require_modules>

</module>

